<div class="hero-section">
  <h1 class="mb-4">Crea hábitos que transformen tu vida</h1>
  <button (click)="redirigir()" class="cta-button">{{ estaLogueado() ? 'Ir al Inicio' : 'Comienza Ahora' }}</button>
</div>

<div class="cards-container">
  <div class="card" *ngFor="let card of cards">
    <img [src]="card.image" alt="Card Image" class="card-image" />
    <h2 class="card-title">{{ card.title }}</h2>
    <p class="card-description">{{ card.description }}</p>
  </div>
</div>

<footer class="footer">
  <p>Empieza a construir el mejor tú, un hábito a la vez</p>
  <button *ngIf="true" (click)="redirigir2()" class="cta-footer-button">Descubre tus hábitos</button>
</footer>
