<div class="sidebar-container">
  <div class="menu-toggle" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo">
      <img type="image" src="../../public/favicon.ico" alt="Logo de la app" />
    </div>
    <ul>
      <li>
        <a href="">
          <i class="fas fa-home"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a href="/progress">
          <i class="fas fa-list"></i>
          <span>Progreso</span>
        </a>
      </li>
      <li>
        <a href="/newHabit">
          <i class="fas fa-chart-line"></i>
          <span>Nuevo Hábito</span>
        </a>
      </li>
      <li>
        <a href="/statistics">
          <i class="fas fa-cog"></i>
          <span>Estadísticas</span>
        </a>
      </li>
    </ul>
  </div>
</div>
