
h2 {
  font-style: italic; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; color: #2798B5;
}

a {
  text-decoration: none;
}

#mi-perfil {
  color: #757575;
  margin-right: 4rem;
}

#mi-perfil:hover {
  color: 	#212121;
}